<% if (site.posts.length){ %>
<div class="widget tag">
  <h3 class="title"><a href="<%= config.root %><%= config.archive_dir %>"><%= __('recent_posts') %></a></h3>
  <ul class="entry">
    <% site.posts.sort('date', -1).limit(20).each(function(post){ %>
      <li>
	<time class="release" datetime="<%= post.date.toDate().toISOString() %>"><%= post.date.format(config.date_format) %></time><br>
	<a href="<%- config.root %><%- post.path %>"><%= post.title %></a>
      </li>
    <% }); %>
  </ul>
  <div style="font-size: x-small; text-align: right; margin-right: 10px">
    <a href="<%= config.root %><%= config.archive_dir %>"><%= __('display_all') %></a>
  </div>
</div>
<% } %>
