<div class="alignleft">
  <a href="<%- config.root %>"><img src="/img/logo_256.png">
  <h1><%= config.title %></h1>
  <h2><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2></a>
</div>
<br>
<nav id="main-nav">
    <% var canonical_path = function(p) {
         var result = p.replace(/\/index\.html$/g, ""); // no trailing index.html
         result = result.replace(/\/$/g, ""); // no trailing /
         result = result.replace("//", "/"); // no consecutive /
         return result;
       }
       var format_link = function(url, link_text) {
         var head;
         if (url.charAt(0) == '/') { // internal link
           head = "<a ";
         } else { // external link
           head = "<a class=\"external\" ";
         }
         return head + "href=\"" + url + "\">" + link_text + "</a>";
       }
    %>
    <% for (var i in theme.menu){ %>
      <% if (canonical_path(theme.menu[i]) == canonical_path(config.root + path)) { %>
        <span class="actived_nav"><%= i %></span>
      <% } else { %>
        <%- format_link(theme.menu[i], i) %>
      <% } %>
    <% } %>
</nav>
