<div class="alignleft">
  <a href="<%- config.root %>"><img src="/img/logo_256.png">
  <h1><%= config.title %></h1>
  <h2><% if (config.subtitle){ %><%= config.subtitle %><% } %></h2></a>
</div>
<br>
<nav id="main-nav">
  <ul>
    <% for (var i in theme.menu){ %>
      <% if (theme.menu[i] == config.root + path || theme.menu[i] + "/index.html" == config.root + path
                || theme.menu[i] == config.root && path == "index.html") { %>
    <li><span class="actived_nav"><%= i %></span></li>
    <br>
      <% } else { %>
        <a href="<%- theme.menu[i] %>"><li><%= i %></li></a>
	<br>
      <% } %>
    <% } %>
  </ul>
  <div class="clearfix"></div>
</nav>
<div class="clearfix"></div>
