<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = [];
  if (page.current > 1) title.push(__('page', page.current));
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive){
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
  }
  title.push(config.title);
  %>
  <title><%= title.join(' | ') %></title>
  <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } %>
  <% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- open graph -->
  <% var og_title = page.og_title ? page.og_title : title.join(' | ');
     var og_type = page.og_type ? page.og_type : "article";
     var og_image = page.cover ? page.cover : config.cover;
     var og_desc = page.og_desc ? page.og_desc : config.og_desc%>
  <meta property="og:title" content="<%= og_title %>"/>
  <meta property="og:type" content="<%= og_type %>" />
  <meta property="og:site_name" content="<%= config.site_name %>" />
  <meta property="og:url" content="<%= config.url + config.root + page.path %>" />
  <meta property="og:image" content="<%= config.url + og_image %>" />
  <meta property="og:description" content="<%= og_desc %>" />

  <link href="<%- config.root %>favicon.png" rel="icon">
  <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">
  <link rel="stylesheet" href="<%- config.root %>css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%- partial('google_analytics') %>

  <!-- jquery -->
  <script src="/js/jquery.min.js"></script>

  <!-- carousel -->
  <link rel="stylesheet" type="text/css" href="/css/jcarousel.css">
  <script src="/js/jquery.jcarousel.min.js"></script>
  <script src="/js/jcarousel-init.js"></script>

</head>
